USE [Final Project]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 17/12/2025 1:29:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BOOKING_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[DESTINATION_ID] [int] NOT NULL,
	[HOTEL_ID] [int] NULL,
	[CHECKIN_DATE] [date] NOT NULL,
	[CHECKOUT_DATE] [date] NOT NULL,
	[TRIP_PRICE] [decimal](10, 2) NOT NULL,
	[REF_NUMBER] [nvarchar](20) NOT NULL,
	[PEOPLE] [int] NOT NULL,
	[PACKAGE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destination_Type_Map]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destination_Type_Map](
	[MAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESTINATION_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[DESTINATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[LOCATION] [nvarchar](100) NULL,
	[PRICE] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DESTINATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinationTypes]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinationTypes](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HOTEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PRICE] [decimal](10, 2) NULL,
	[DESTINATION_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HOTEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_ID]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_ID](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE_NAME] [nvarchar](max) NULL,
	[FILEPATH] [nvarchar](max) NULL,
	[DATE_UPLOADED] [nvarchar](max) NULL,
	[USERID] [nvarchar](max) NULL,
 CONSTRAINT [PK_IMAGE_ID] PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PACKAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESTINATION_ID] [int] NOT NULL,
	[PACKAGE_CODE] [varchar](5) NOT NULL,
	[PACKAGE_NAME] [varchar](100) NOT NULL,
	[PACKAGE_PRICE] [decimal](10, 2) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[PROFILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE_NAME] [nvarchar](max) NULL,
	[FILEPATH] [nvarchar](max) NULL,
	[DATE_UPLOADED] [nvarchar](max) NULL,
	[USERID] [nvarchar](max) NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/12/2025 1:29:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[TELEPHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [TRIP_PRICE]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [PEOPLE]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[Hotels] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Destination] FOREIGN KEY([DESTINATION_ID])
REFERENCES [dbo].[Destinations] ([DESTINATION_ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Destination]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Hotel] FOREIGN KEY([HOTEL_ID])
REFERENCES [dbo].[Hotels] ([HOTEL_ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Hotel]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[Users] ([USERNAME])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[Destination_Type_Map]  WITH CHECK ADD FOREIGN KEY([DESTINATION_ID])
REFERENCES [dbo].[Destinations] ([DESTINATION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Destination_Type_Map]  WITH CHECK ADD FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[DestinationTypes] ([TYPE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([DESTINATION_ID])
REFERENCES [dbo].[Destinations] ([DESTINATION_ID])
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD FOREIGN KEY([DESTINATION_ID])
REFERENCES [dbo].[Destinations] ([DESTINATION_ID])
GO
